doctype html
html(ng-app='preziAdmin')
  head
    script(src='/angular/angular.min.js')
    script(src='/angular/angular-route.min.js')
    script(src='/app.js')
    script(src='/home/home.controller.js')
    script(src='/suppliers/suppliers.controller.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="/images/favicon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
    link(rel="manifest", href="/images/favicon/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/images/favicon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
  body
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') PreziAdmin
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='#') Dashboard
                    li
                        a(href='#') Manage
                    li
                        a(href='#') Reports
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-log-out
                            |&nbsp; Logout
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search
    .container
        block breadcrumb
    .container
        div(ng-view)
            block content
        
        footer
            .row
                .col-xs-12.col-sm-6
                    small Terms &amp; Conditions |
                    | &nbsp;
                    small Privacy |
                    | &nbsp;
                .col-xs-12.col-sm-6.text-right
                    small &copy; Prezigen 2016. All rights reserved.
  
    script(src='/javascripts/jquery-2.2.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')