extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
	.row
		.col-md-6.col-sm-12
			p
				| Prezigen was created to help people find the perfect presents without having to search all over the places...
