extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Personalised Chocolate
    .row
        .row
            .col-xs-12
                p.rating
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty

        p Box of Swedish dark chocolate with personalised letters, messages and wrapping.
        .panel.panel-primary
            .panel-heading
                h2.panel-title Weight
            .panel-body
                120 g
        .panel.panel-primary
            .panel-heading
                h2.panel-title Dimension
            .panel-body
                W x L x H = 16cm x 20cm x 1.5cm
        .panel.panel-primary
            .panel-heading
                h2.panel-title Special Notes
            .panel-body
                span.label.label-warning 
                    span.glyphicon.glyphicon-ok 
                    | &nbsp; Cold storage
                | &nbsp;
                span.label.label-warning 
                    span.glyphicon.glyphicon-ok 
                    | &nbsp; Food
                | &nbsp;
                span.label.label-warning 
                    span.glyphicon.glyphicon-ok 
                    | &nbsp; Perishable
                | &nbsp;
    .row
        .col-xs-12
            .panel.panel-primary.review-panel
                .panel-heading
                    a.btn.btn-default.pull-right(href='/product/review/new') Add review
                    h2.panel-title Customer review
                .panel-body.review-container
                    .row
                        .review
                            .well.well-sm.review-header
                                span.rating
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                span.reviewAuthor Romen Law
                                small.reviewTimestamp 28 March 2016
                            .col-xs-12
                                p What a treat! It's really a great gift for anyone.
                    .row
                        .review
                            .well.well-sm.review-header
                                span.rating
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                                    span.glyphicon.glyphicon-star-empty
                                span.reviewAuthor Jane Smith
                                small.reviewTimestamp 20 March 2016
                            .col-xs-12
                                p Looks great and taste great. The only draw back is the extra calories.
        .col-xs-12.col-md-3
            p.lead Personalised Chocolate box is included in our catalog because it's a nice little gift and flexible enough to give to anyone.
            p If you have tried it and like it - or if you don't - please leave a review to help other people just like you.
                      